@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* MAIN PARTS */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; 
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

#container {
  width: 80%;
  max-width: 1400px;
  min-width: 1000px;
}

/* HEADER */
#header {
  background-color: beige;
  height: 300px;
  display: flex;  
  align-items: flex-end;
  justify-content: space-between;
}

.personal-info {
  background-color: white;
  margin: 1em;
  padding: 0.5em;
  padding-top: 0.5em;
  box-shadow: 2px 2px 3px gray;
  display: flex;
  flex-direction: column;
  transform: rotate(2deg) translateY(-2em);
  min-width: 500px;
}

.personal-info p,
.personal-info h1 {
  margin: 0.3em;
}

.personal-info-links {
  align-self: flex-end;
}

.personal-info-links a {
  text-decoration: none;
}

.face-image {
  min-width: 400px;
  max-width: 500px;
}

.github-icon {
  color: black;
}

/* FOOTER */
#footer {
  background-color: beige;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#footer h1 {
  text-align: center;
}

.blog-and-YT {
  display: flex;
  flex-direction: column;
}

.blog-and-YT-links {
  display: flex;
  justify-content: space-between;
}

.blog-and-YT img {
  width: 160px;
  margin-right: 1em;
}

.blog-and-YT a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.blog-and-YT a:hover,
.blog-and-YT a:active,
.blog-and-YT a:visited {
  color: rgb(77, 73, 73);
}

.coding,
.english {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.english {
  padding-left: 2em;
  border-left: 1px solid white;
}

.contact-info {
  display: flex;
  justify-content: space-around;
}

/* FILTERS */
.upper-filter-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.domain-list {
  list-style: none;
  display: flex;
  gap: 3em;
}

.domain-selected-button,
.domain-unselected-button {
  width: 80px;
  padding: 0.2em;
  border: none;
  background-color: transparent;
  font-size: 1.2em;
  font-weight: bold;
}

.domain-unselected-button:hover {
  color: gray;
}

.domain-selected-button {
  text-decoration: underline;
}

.expand-button {
  border: none;
  padding: 0.5em;
  background-color: black;
  color: white;
  font-weight: bold;
}

.expand-button:hover {
  background-color: gray;
}

.tech-filter-form {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0;
}

.tech-filter-label {
  border: 2px solid black;
  border-radius: 10px;
  padding: 0.5em;
  font-weight: bold;
  display: flex;
  gap: 0.5em;
  align-items: center;
  width: 120px;
}

.tech-filter-label:hover {
  cursor: pointer;
  border-color: rgb(117, 2, 2);
  background-color: rgb(215, 231, 241);
}

.tech-filter-label[data-checked='true'] {
  background-color: rgb(193, 240, 193);
}

.tech-filter-checkbox {
  display: none;
}

.tech-filter-item {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* ITEMS */
.sections {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  color: white;
  padding: 0 2em;
}

.arrow {
  color: white;
  font-size: 4em;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin: 1em;
}

.dots {
  font-size: 5em;
}

.item {
  width: 400px;  
  height: 500px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: beige;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 8px black;
}

.item-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-image {
  height: 200px;
}

.item-technologies,
.item-links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 2em;
}

.item-links a {
  background-color: black;
  color: white;
  padding: 0.1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.item-links a:hover {
  background-color: white;
  color: black;
}

.item-links a:visited {
  color: rgb(196, 193, 193);
}


@media (max-width: 1024px) {
  #container {
    max-width: 1024px;
    min-width: 600px;
  }
  
  .personal-info h1 {
    font-size: 1.5em;
  }

  .personal-info {
    font-size: 0.9em;
    min-width: 300px;
  }
  
  .face-image {
    min-width: 250px;
    max-width: 300px;
  }

  #footer {
    padding: 0.6em;
  }

  #footer h1 {
    font-size: 1.5em;
  }

  #footer h2 {
    font-size: 1em;
  }

  .blog-and-YT img {
    width: 120px;
    margin-right: 0.6em;
  }
}

@media (max-width: 600px) {
  #header {
    flex-flow: column-reverse;
    height: auto;
    margin-top: -20px;
  }

  #container {
    max-width: 600px;
    min-width: 500px;
  }

  .blog-and-YT-links {
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }

  .english {
    padding-left: 0;
    border-left: none;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .domain-list {
    gap: 1em;
  }
  
  .upper-filter-bar {
    padding: 0 1em;;
  }
}